# User-specific files
*.suo
*.user

# Rider
.idea/
*.sln.iml

# Visual Studio 2015/2017 cache/options directory
.vs/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# My
src/Pixpil.GamePrototype/packed
!src/Pixpil.GamePrototype/packed/atlas
src/Pixpil.GamePrototype/resources/assets/data/Generated
src/Pixpil.GamePrototype/bin
src/Pixpil.GamePrototype/obj
src/Pixpil.GamePrototype.Editor/bin
src/Pixpil.GamePrototype.Editor/obj
src/PxpGameJam2024/bin
